<div class="col-2 user__management-sidebar">
    <div class="row user__management-sidebar-items">
        <a asp-controller="Members" asp-action="PersonalInfo"><i class='bx bx-user-circle icon'></i></i><span>帳戶資料</span></a>
        <a asp-controller="Members" asp-action="#"><i class='bx bx-lock-open icon'></i><span>變更密碼</span></a>
        <a asp-controller="Members" asp-action="#"><i class='bx bx-dollar-circle icon'></i><span>我的優惠券</span></a>
        <a asp-controller="Members" asp-action="#"><i class='bx bx-file icon'></i><span>我的訂單</span></a>
    </div>
</div>