@section Styles{
	<link href="~/css/usermanagement.css" rel="stylesheet" />
	<link href="~/css/coupon.css" rel="stylesheet" />
}

<section class="user__management section align-items-center section-bg" id="user__management">
	<div class="user__management-container container row">
		<partial name="_SidebarPartial" />

		<div class="col-10 user__management-content">
			<!-- 內容 -->
			<div class="couponDetails col-sm-12 col-md-10 col-xl-10">
				<div class="myCoupon">
					<span>{{ pageName }}</span>
				</div>
				<div class="tableFunction col-12">
					<div class="col-md-4">
						<div class="form">
							<input type="text" class="form-control form-input" id="name" placeholder="輸入優惠券名稱..." v-model="couponName">
							<span class="left-pan"><button class="addCoupon" @@click="insertExistCoupon">新增</button></span>
						</div>
					</div>
				</div>
				<div class="table_container">
					<div class="couponValid">
						<div class="coupon-card" v-for="c in couponList" :key="c.couponId">
							<h3 style="padding-top: 20px;" class="fw-bolder">
								{{c.couponDescription}}
							</h3>
							<div class="coupon-row">
								<span id="cpnCode" class="fw-bolder">{{c.couponName}}</span>
							</div>
							<div>
								<p class="fw-bolder" style="">滿{{ c.minimumPurchasingAmount }}折{{ c.couponMinusCost}}</p>
							</div>
							<p class="fw-bolder">有效期限: {{ c.couponEndDate.slice(0,10) }}</p>
							<div class="circle1"></div>
							<div class="circle2"></div>
						</div>
					</div>
				</div>
				<!--========== Messge toast ==========-->
				@*<div class="message-toast-wrapper" :class="toastHintStyle">
					<i v-if="toast=='新增成功' || toast=='修改成功' || toast=='刪除成功'" class='bx bxs-check-circle message-toast-icon'></i>
					<i v-else class='bx bxs-x-circle message-toast-icon-error' style='color:#f00e0e'></i>
					<p class="message-toast-title">{{toast}}</p>
				</div>*@
			</div>
		</div>
	</div>
</section>  

@section Scripts{
	<script src="~/axios/axios.min.js"></script>
	<script src="~/js/vue.js"></script>
	<script>
		const vm = new Vue({
			el: '.couponDetails',
			data: {
				pageName: '我的優惠券',
				couponList: [],
				couponName:'',
				//toast:'',
				//toastHintStyle: {
				//	fadeInUp: false
				//},
			},
			methods: {
				//toastHint() {
				//	this.toastHintStyle.fadeInUp = true;
				//	setTimeout(() => {
				//		this.toastHintStyle.fadeInUp = false
				//	}, 2100)
				//},
				closePopupShowHint() {
					this.popupShowing.showPopup = false;
					this.toastHint();
				},
				GetCouponFromDb() {
					let _this = this;
					couponFromDb = axios('/Coupon/GetCouponsForFront').then(response => {
						_this.couponList = response.data;
					});
				},
				insertExistCoupon() {
					let tempData = {
						couponName: this.couponName
					}
						axios.post("/Coupon/EnterCouponForFront", tempData, {
						headers: {
							'Content-Type': 'application/json'
						}
					}).then(response =>{ 
						//this.toast = response.data;
						//this.closePopupShowHint();
						//_this.GetCouponFromDb();

						if (response.data){
							this.GetCouponFromDb();
						}else {
							alert('你已經有此優惠券');
							this.GetCouponFromDb();
						}
						console.log(response.data);
					})
				},
			},
			mounted() {
				this.GetCouponFromDb();
			}
		});
	</script>
}