@section Styles
	{
	<style>

		h3 {
			padding-bottom: 20%;
			margin-top: -20%;
			font-weight: bold;
			color: #555555;
		}

		#confirm_modify {
			background-color: #4f8180;
			color: white;
			border: none;
			border-radius: 5px;
			padding: 6px;
		}

		#app {
			height: 84vh;
		}

			#app h2 {
				font-weight: bold;
				margin-bottom: 2.5rem;
				font-size: 2.5rem;
			}

		.form {
			margin-bottom: 1rem;
		}

			.form label {
				font-size: 1.5rem;
				display: block;
			}
	</style>
}

<section class="user__management section align-items-center section-bg" id="modify_password">
	<div class="user__management-container container  row">
		<partial name="_SidebarPartial" />

		<div class="col-10 user__management-content">
			<div class="col-7" id="app">
				<div>
					<h2>變更密碼</h2>
				</div>
				<div class="user-password-block">
					@*asp-controller="Members" asp-action="MemberChangePassword"*@
					<form id="form-reset-password">
						<div class="form row">
							<div class="col-3">
								<label class="">請輸入舊密碼</label>
							</div>
							<div class="col-4">
								<input class="form-control" type="password" name="Password" v-model="Password">
							</div>
						</div>
						<div class="form row">
							<div class="col-3">
								<label for="newpassword" class="">輸入新密碼</label>
							</div>
							<div class="col-4">
								<input class="form-control" type="password" name="NewPassword" required v-model="NewPassword">
							</div>
						</div>
						<div class="form row">
							<div class="col-3">
								<label for="checkpassword" class="">確認新密碼</label>
							</div>
							<div class="col-4">
								<input class="form-control" type="password" name="ComfirmNewPassword" required v-model="ComfirmNewPassword">
							</div>
						</div>
						<div class="form row">
							@if (ViewBag.Error != "")
							{
								<p class="text-danger fw-bold font-weight-bolder"><b>@ViewBag.Error</b></p>
							}
							<div class="col">
								<input type="submit" id="confirm_modify" value="確定修改" @@click.prevent="changePassword">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts
	{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		const vm = new Vue({
			el: "#form-reset-password",
			data: {
				Password: null,
				NewPassword: null,
				ComfirmNewPassword: null
			},
			methods: {
				changePassword() {
					const formData = new FormData();
					formData.append('Password', this.Password);
					formData.append('NewPassword', this.NewPassword);
					formData.append('ComfirmNewPassword', this.ComfirmNewPassword);
					axios.post("/Members/MemberChangePassword", formData, { headers: { 'Content-Type': 'multipart/form-data' } }).then(res => {
						if (res.data == '舊密碼輸入錯誤哦') {
							Swal.fire({
								icon: 'error',
								title: '舊密碼輸入錯誤哦！',
							})
						} else if (res.data == '新密碼輸入失敗') {
							Swal.fire({
								icon: 'error',
								title: '新密碼輸入失敗！',
							})
						} else if (res.data == '新密碼跟舊密碼不能一樣哦') {
							Swal.fire({
								icon: 'error',
								title: '新密碼跟舊密碼不能一樣哦！',
							})
						} else {
							Swal.fire({
								icon: 'success',
								title: '變更成功',
								text: '請重新登入',
								showConfirmButton: false,
								timer: 1300
							})
							setTimeout(() => {
								window.location.href = "/User/Login"
							}, 1300);
						}
					}).catch((error) => console.log(error))
				}
			}
		})






	</script>

}