@section Styles
	{
	<style>

		h3{
			padding-bottom: 8%;
			margin-top: -10%;
			font-weight: bold;
			color: #555555;
		}

		#confirm_modify {
			background-color: #4f8180;
			color: white;
			border: none;
			border-radius: 5px;
			padding:2%;
		}
	</style>
}

<section class="user__management section align-items-center section-bg" id="modify_password">
	<div class="user__management-container container  row">
		<partial name="_SidebarPartial" />

		<div class="col-10 user__management-content">
			<div class="col-4" id="app">
				<div>
					<h3>變更密碼</h3>
				</div>
				<div class="user-password-block">
					<form id="form-reset-password" asp-controller="Members" asp-action="MemberChangePassword">
						<div class="form row">
							<div class="col-4">
								<label class="">請輸入舊密碼</label>
							</div>
							<div class="col-8">
								<input class="form-control" type="password" name="Password">
							</div>
						</div>
						<div class="form row">
							<div class="col-4">
								<label for="newpassword" class="">輸入新密碼</label>
							</div>
							<div class="col-8">
								<input class="form-control" type="password" name="NewPassword" required>
							</div>
						</div>
						<div class="form row">
							<div class="col-4">
								<label for="checkpassword" class="">確認新密碼</label>
							</div>
							<div class="col-8">
								<input class="form-control" type="password" name="ComfirmNewPassword" required>
							</div>
						</div>
						<div class="form row">
							<div class="col">
								<input type="submit" id="confirm_modify" value="確定修改">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>