@section Styles{
    <link href="~/css/usermanagement.css" rel="stylesheet" />
}


<section class="user__management section align-items-center section-bg" id="user__management">
    <div class="user__management-container container  row">
        <partial name="_SidebarPartial" />

        <div class="col-10 user__management-content">
            <!-- 內容 -->

        </div>
    </div>
</section>  