@section Styles{

	<link href="~/css/usermanagement.css" rel="stylesheet" />
	<style>
		h3 {
			padding-bottom: 8%;
			margin-top: -10%;
			font-weight: bold;
			color: #555555;
		}

		.btn-block {
			margin-top: 5%;
		}

		input[type=text]:focus {
			background-color: #e9fffc;
		}

		.info-label{
			padding-right: 0px;
			width: fit-content;
		}
		.info-label2{
			padding-right: 0;
			width: 15%;
		}

		.info-label3{
			margin-left: 30px;
		}
		.info-label4{
			margin-left: 16px;
		}

		

	</style>

}


<section class="user__management section align-items-center section-bg" id="user__management">
	<div class="user__management-container container  row">
		<partial name="_SidebarPartial" />


		<div class="col-10 user__management-content">
			<!-- 內容 -->
			<div class="col-6 personalInfo-container" id="main">
				<div class="profile">
					<h3>個人資料</h3>
				</div>

					<div class="form row">
						<div class="col-3 info-label">
							<label for="accountId">會員編號：</label>
						</div>
						<div class="col-9">
							<input type="text" name="accountId" id="accountId" v-model="info.accountId" disabled>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label">
							<label for="account1">會員帳號：</label>
						</div>
						<div class="col-9">
							<input type="text" name="account1" id="account1" v-model="info.account1" disabled>
						</div>
					</div>
			

				<!--編輯範本-->
				<template v-if="infoEdit">
				<div class="form row">
						<div class="col-3 info-label">
						<label for="">會員姓名：</label>
					</div>
					<div class="col-9">
						<input class="Error" type="text" name="firstname" id="firstname" v-model="info.firstName" required size="4" >
						<input class="Error" type="text" name="lastname" id="lastname" v-model="info.lastName" required size="4"  >
					</div>
				</div>
				<div class="form row">
					<div class="col-3 info-label2">
						<label for="gender" class="info-label3">性別：</label>
					</div>
					<div class="col-9">
						<input type="radio" name="gender" id="gender" value="男" v-model="info.gender" >男
						<input type="radio" name="gender" id="gender" value="女" v-model="info.gender" >女
					</div>
				</div>
				<div class="form row">
						<div class="col-3 info-label2">
							<label for="birthdate" class="info-label3">生日：</label>
					</div>
					<div class="col-9">
						<input type="datetime" name="birthdate" id="birthdate" v-model="info.birthDate" >
					</div>
				</div>
				<div class="form row">
						<div class="col-3 info-label">
						<label for="phone">手機號碼：</label>
					</div>
					<div class="col-9">
						<input type="tel" name="phone" id="phone" v-model="info.phone" required>
					</div>
				</div>
				<div class="form row">
						<div class="col-3 info-label">
						<label for="">信用卡號：</label>
					</div>
					<div class="col-9">
							<input class="" type="text" name="cardnum" id="cardnum" v-model="info.defaultCreditCardNumber">
					</div>
				</div>
				<div class="form row">
					<div class="col-3 info-label">
						<label for="cardholder">持有人：</label>
					</div>
					<div class="col-9 info-label4">
							<input class="" type="text" name="cardholder" id="cardholder" v-model="info.defaultCreditCardHolder">
					</div>
				</div>
				<div class="form row">
				</div>
				<div class="form row">
						<div class="col-3 info-label">
						<label for="">聯絡地址：</label>
					</div>
					<div class="col-9">
						<input type="text" name="" id=""  required size="30" v-model="info.defaultShipAddress">
					</div>
				</div>
				<div class="btn-block">
					<button class="btn btn-primary" @@click="update(info.accountId)">儲存</button>
					<button class="btn btn-secondary" @@click="cancel(info.accountId)">取消</button>
				</div>
				</template>

				<!--顯示範本-->
				<template v-else>
					<div class="form row">
						<div class="col-3 info-label">
							<div>會員姓名：</div>
						</div>
						<div class="col-9">
							<div>{{info.firstName}}{{info.lastName}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label2">
							<div class="info-label3">性別：</div>
						</div>
						<div class="col-9">
							<div>{{info.gender}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label2">
							<div class="info-label3">生日：</div>
						</div>
						<div class="col-9">
							<div>{{(info.birthDate)}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label">
							<div>手機號碼：</div>
						</div>
						<div class="col-9">
							<div>{{info.phone}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label">
							<div>信用卡號：</div>
						</div>
						<div class="col-9">
							<div>{{info.defaultCreditCardNumber}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label">
							<div class="info-label4">持有人：</div>
						</div>
						<div class="col-9">
							<div>{{info.defaultCreditCardHolder}}</div>
						</div>
					</div>
					<div class="form row">
						<div class="col-3 info-label">
							<div>聯絡地址：</div>
						</div>
						<div class="col-9">
							<div>{{info.defaultShipAddress}}</div>
						</div>
					</div>
					<div>
					
						<button class="btn btn-primary" @@click="edit">編輯</button>
					</div>
				</template>

			</div>
		</div>
	</div>
</section>


@section Scripts
	{
	<script src="~/js/vue.js"></script>
	<script src="~/axios/axios.min.js"></script>
	<script>

		const vm = new Vue({
			el: "#main",
			data: {
				info: [],
				infoEdit: false,

			},
			mounted() {				
				this.getInfos();
			},		
			methods: {
				getInfos:function() {
					let _this = this;
					//取得id方法之後寫在這~
					axios.get(`/PersonalInfo/GetAccount`,).then(res => {
						_this.info = res.data[0];
					})
				},
				edit: function () {
					let _this = this;
					this.infoEdit = true;
					_this.oldfirstName = this.info.firstName;
					_this.oldlastName = this.info.lastName;
					_this.oldbirthdate = this.info.birthDate;
					_this.oldgender = this.info.gender;
					_this.oldphone = this.info.phone;
					_this.olddefaultshipaddress = this.info.defaultShipAddress;
					_this.olddefaultcreditcardnumber = this.info.defaultCreditCardNumber;
					_this.olddefaultcreditcardholder = this.info.defaultCreditCardHolder;
				},
				cancel: function () {
					let _this = this;
					this.infoEdit = false;
					this.info.firstName = _this.oldfirstName;
					this.info.lastName = _this.oldlastName;
					this.info.birthDate = _this.oldbirthdate;
					this.info.gender = _this.oldgender;
					this.info.phone = _this.oldphone;
					this.info.defaultShipAddress = _this.olddefaultshipaddress;
					this.info.defaultCreditCardNumber = _this.olddefaultcreditcardnumber;
					this.info.defaultCreditCardHolder = _this.olddefaultcreditcardholder;
				},
				update: function () {
					let _this = this;
					var request = {
						AccountId: this.info.accountId,
						FirstName: this.info.firstName,
						LastName: this.info.lastName,
						BirthDate: this.info.birthDate,
						Gender: this.info.gender,
						Phone: this.info.phone,
						Defaultshipaddress: this.info.defaultShipAddress,
						Defaultcreditcardnumber: this.info.defaultCreditCardNumber,
						Defaultcreditcardholder: this.info.defaultCreditCardHolder
					};
					axios.post(`/PersonalInfo/EditAccount/${_this.info.accountId}`, request)
						.then(res => {
							//alert(res.data); //update成功
							_this.getInfos();
							this.infoEdit = false;
						})
				},
			},
			computed: {
				//Error: function () {
				//	if (this.val.length == "") {
				//		return "Error";
				//	}
				//	else {
				//		return "noError";
				//	}
				//},

			}







		})

	</script>

}
