@section Styles{

	<link href="~/css/usermanagement.css" rel="stylesheet" />
	<style>
		h3 {
			padding-bottom: 8%;
			margin-top: -10%;
			font-weight: bold;
			color: #555555;
		}

		.btn-block {
			margin-top: 5%;
		}


		#editinfo-button {
			margin-top: 25px;
		}

		table {
			width: 100%;
			border-collapse: collapse;
		}

			table tr {
				border-bottom: solid 2px white;
			}

				table tr:last-child {
					border-bottom: none;
				}

			table th {
				position: relative;
				width: 30%;
				background-color: #7d7d7d;
				text-align: center;
				padding: 10px 0;
			}

				table th:after {
					display: block;
					content: "";
					width: 0px;
					height: 0px;
					position: absolute;
					top: calc(50% - 10px);
					right: -10px;
					border-left: 10px solid #7d7d7d;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
				}

			table td {
				text-align: left;
				width: 70%;
				text-align: center;
				background-color: #eee;
				padding: 10px 0;
			}

		#personal {
			margin: 20px auto;
			align-items: center;
			width: 80%;
		}

		#update-btn{ 
			background-color: cadetblue;
			color: white;
			border-radius:2px;
			border:none !important;
		}

		#cancel-btn{
			background-color: darkgray;
			color: white;
			border-radius: 2px;
			border: none !important;
		}

		#edit-btn{
			margin-top:10%;
			background-color: #4f8180;
			color: white;
			border-radius: 2px;
			border: none !important;
		}

	</style>

}


<section class="user__management section align-items-center section-bg" id="user__management">
	<div class="user__management-container container  row">
		<partial name="_SidebarPartial" />


		<div class="col-10 user__management-content">
			<!-- 內容 -->
			<div class="col-7  personalInfo-container" id="main">
				<div class="profile">
					<h3>個人資料</h3>
				</div>
				<table class="table">
					<tbody>
						<!--編輯範本-->
						<template v-if="infoEdit">
							<tr>
								<th>會員編號</th>
								<td>{{info.accountId}}</td>
							</tr>
							<tr>
								<th>會員帳號</th>
								<td>{{info.account1}}</td>
							</tr>
							<tr>
								<th>會員姓名</th>
								<td><input class="Error" type="text" name="firstname" id="firstname" v-model="info.firstName" required></td>
							</tr>
							<tr>
								<th>性別</th>
								<td>
									<input type="radio" name="gender" id="gender" value="男" v-model="info.gender">男
									<input type="radio" name="gender" id="gender" value="女" v-model="info.gender">女
								</td>
							</tr>
							<tr>
								<th>生日</th>
								<td><input type="date" name="birthdate" id="birthdate" v-model="info.birthDate"></td>
							</tr>
							<tr>
								<th>手機號碼</th>
								<td><input type="tel" class="error" name="phone" id="phone" v-model="info.phone" size="30"></td>
							</tr>
							<tr>
								<th>聯絡地址</th>
								<td><input type="text" name="address" id="address"  size="30" v-model="info.defaultShipAddress"></td>
							</tr>

							<div class="btn-block">
								<button id="update-btn" @@click="update(info.accountId)">儲存</button>
								<button id="cancel-btn" @@click="cancel(info.accountId)">取消</button>
							</div>
						</template>

						<!--顯示範本-->
						<template v-else>
							<tr>
								<th>會員編號</th>
								<td>{{info.accountId}}</td>
							</tr>
							<tr>
								<th>會員帳號</th>
								<td>{{info.account1}}</td>
							</tr>
							<tr>
								<th>會員姓名</th>
								<td>{{info.firstName}}</td>
							</tr>
							<tr>
								<th>性別</th>
								<td>{{info.gender}}</td>
							</tr>
							<tr>
								<th>生日</th>
								<td>{{info.birthDate}}</td>
							</tr>
							<tr>
								<th>手機號碼</th>
								<td>{{info.phone}}</td>
							</tr>
							<tr>
								<th>聯絡地址</th>
								<td>{{info.defaultShipAddress}}</td>
							</tr>
							<div>
								<button id="edit-btn" @@click="edit">編輯</button>
							</div>
						</template>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>


@section Scripts
	{
	<script src="~/js/vue.js"></script>
	<script src="~/axios/axios.min.js"></script>
	<script>

		const vm = new Vue({
			el: "#main",
			data: {
				info: [],
				infoEdit: false,
			},
			mounted() {
				this.getInfos();
			},
			methods: {
				getInfos: function () {
					let _this = this;
					axios.get(`/PersonalInfo/GetAccount`,).then(res => {
						_this.info = res.data[0];
					})
				},
				edit: function () {
					let _this = this;
					this.infoEdit = true;
					_this.oldfirstName = this.info.firstName;
					_this.oldbirthdate = this.info.birthDate;
					_this.oldgender = this.info.gender;
					_this.oldphone = this.info.phone;
					_this.olddefaultshipaddress = this.info.defaultShipAddress;
				},
				cancel: function () {
					let _this = this;
					this.infoEdit = false;
					this.info.firstName = _this.oldfirstName;
					this.info.birthDate = _this.oldbirthdate;
					this.info.gender = _this.oldgender;
					this.info.phone = _this.oldphone;
					this.info.defaultShipAddress = _this.olddefaultshipaddress;
				},
				update: function () {
					let _this = this;
					var request = {
						AccountId: this.info.accountId,
						FirstName: this.info.firstName,
						BirthDate: this.info.birthDate,
						Gender: this.info.gender,
						Phone: this.info.phone,
						Defaultshipaddress: this.info.defaultShipAddress,
					};
					axios.post(`/PersonalInfo/EditAccount/${_this.info.accountId}`, request)
						.then(res => {
							//alert(res.data); //update成功
							_this.getInfos();
							this.infoEdit = false;
						})
				},
			},
			computed: {

			}
		})

	</script>

}
