@model SuFood.ViewModel.LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Login</title>
    <!-- MDB icon -->
    <link rel="icon"
          href="~/前端登入畫面用到的/img/SlIfe-logo.svg"
          type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <script src="https://kit.fontawesome.com/6c09e4a88d.js"
            crossorigin="anonymous"></script>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet"
          href="~/前端登入畫面用到的/css/bootstrap-login-form.min.css" />
</head>
<body>
    <!-- Start your project here-->
    <section class="vh-100" style="background-color: rgba(206, 18, 18, 0.5)">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem">
                        <form asp-controller="User" asp-action="Login" method="post">
                            <div class="card-body p-5 text-center">
                                <h3 class="mb-3">
                                    <img src="~/前端登入畫面用到的/img/SlIfe-logo.svg"
                                         alt="SlIfe-logo" />
                                    <br /><b style="color: black">迎接蔬食人生吧！</b>
                                </h3>
                                <div class="form-outline mb-4">
                                    @if (ViewBag.Error != "")
                                    {
                                        <p class="text-danger fw-bold font-weight-bolder"><b>@ViewBag.Error</b></p>
                                    }
                                    <input type="email" id="typeEmailX-2" name="Account1" class="form-control form-control-lg" />
                                    <label class="form-label" for="typeEmailX-2">請輸入信箱</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="typePasswordX-2" name="Password" class="form-control form-control-lg" />
                                    <label class="form-label">請輸入密碼</label>
                                </div>
                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3">
                                        記住密碼
                                    </label>
                                </div>
                                <div style="margin-bottom: 15px; display: flex; column-gap: 20px;
                                        justify-content: center;">
                                    <a asp-area="" asp-controller="User" asp-action="ForgetPassword4Email"><b>忘記密碼 ?</b></a>
                                    <a asp-area="" asp-controller="User" asp-action="Register"><span>註冊</span> </a>
                                </div>

                                <button class="btn btn-primary btn-lg btn-block"
                                        type="submit"
                                        style="background-color: rgba(206, 18, 18, 0.9)"
                                        name="loginButton">
                                    登入
                                </button>
                        </form>

                        <hr class="my-4" />

                        <form method="post" action="/User/VerifyGoogleToken">

                            <button class="btn btn-lg btn-block btn-primary"
                                    style="background-color: rgba(221, 75, 57, 0.97)"
                                    type="submit" name="googleButton">
                                <i class="fab fa-google me-2"
                                id="g_id_onload"
                                data-client_id="966342829466-ci3oeauv24s9qgimp1vc2uaavfsaraag.apps.googleusercontent.com"
                                data-login_uri="https://localhost:50720/User/ValidGoogleLogin"
                                data-auto_prompt="false"></i>
                                Sign in with Google
                            </button>

                        </form>


                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- End your project here-->
    <!-- MDB -->
    <script type="text/javascript" src="~/前端登入畫面用到的/js/mdb.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

</body>
</html>
