@section styles{
	<link href="~/css/checkout.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}

<section class="check-out__section" id="app">
		<div class="check-out__container">
			<div class="check-out-status-container">
				<div v-for="tab in tabs" class="check-out-status flexItem" :class="{currentStatus: currentTab === tab}"
					@@click="currentTab = tab">
					<p class="flexItem">{{tab}}</p>
				</div>
			</div>
			<div class="check-out-content row">
				<!-- 確認購物車 -->
				<template v-if="currentTab == '1.確認購物車'">
					<div class="col-8 carts__container">
						<h2>購物車</h2>
						<div class="scroll">
							<table>
								<thead>
									<th>商品</th>
									<th></th>
									<th>小計</th>
									<th>刪除</th>
								</thead>
								@*零售明細*@
								<tbody>
									<tr v-for="c in carts" :key="c.id">
										<td>
											<div class="productItem">
												<div>
													<img :src="c.img" alt="">
												</div>
												<div class="product-body">
													<p>{{c.productName}}</p>
												</div>
											</div>
										</td>
										<td>
											<div class="plusAndMinus">
												<div>
													<i class='bx bx-minus cartsIcon plus' @@click.passive="decrementQuantity(c)"></i>
												</div>
												<input type="number" v-model="c.quantity">
												<div>
													<i class='bx bx-plus cartsIcon minus' @@click.passive="incrementQuantity(c)"></i>
												</div>
											</div>
										</td>
										<td>${{c.price * c.quantity}}</td>
										<td>
											<i @@click="DeleteProducts(c.id)" class="bx bxs-trash tableIcon"></i>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="total">總計: </div>
						<div><button class="buy" @@click="currentTab = '2.填寫訂單資訊'">購買</button></div>
					</div>
				</template>
				<!-- 填寫訂單資訊 -->
				<template v-else-if="currentTab == '2.填寫訂單資訊'">
					<div class="col-md-8 row flex-column-reverse flex-md-row">
						<div class="col-md-7 orderInfo">
							<h2 class="section-title">訂單資訊</h2>
							<div class="card">
								<form action="" class="card-body">
									<div class="from-group">
										<label for="name" class="title">收件人姓名</label>
										<input type="text" id="name" name="name" class="form-control" aria-required="true" aria-invalid="false" v-model="submit.RecipientName">
										@*<small class="invalidFeedback">請填寫姓名</small>*@
									</div>
									<div class="from-group">
										<label for="email" class="title">Email</label>
										<input type="text" id="email" name="email" class="form-control" aria-required="true" aria-invalid="false" v-model="submit.Email">
										@*<small class="invalidFeedback">Email不能為空</small>*@
									</div>
									<div class="from-group">
										<label for="tel" class="title">電話</label>
										<input type="text" id="tel" name="tel" class="form-control" aria-required="true" aria-invalid="false" v-model="submit.Phone">
										@*<small class="invalidFeedback">請填寫聯絡電話</small>*@
									</div>
									<div class="from-group">
										<label for="tel" class="title">聯絡地址</label>
										<input type="text" id="tel" name="tel" class="form-control" aria-required="true" aria-invalid="false" v-model="submit.Address">
										@*<small class="invalidFeedback">請填寫聯絡地址</small>*@
									</div>
									<div class="from-group">
										<label for="message" class="title">
											備註
											<small class="text-primary" style="color: #6527a0 !important;">此欄位非必填</small>
										</label>
										<textarea name="" id="mesage" cols="30" rows="6" class="form-control"></textarea>
									</div>
									<div class="text-right">
										<button type="submit" class="btn btn-success">送出訂單</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-5">
							<div class="sticky-top commoditiesDetail">
								<h2 class="section-title">商品明細</h2>
							<ul class="list-unstyled list-group mb-3" v-for="pl in plan">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<div class="flex-shrink-1">
										<h4 class="font-weight-bolder mb-0" style="font-weight: bold">{{ pl.plan.planName }}</h4>
										<small>{{ pl.plan.planDescription}}{{ pl.plan.planCanChoiceCount }}</small>
										</div>
										<div>
										</div>
										<div class="text-nowrap"><strong class="mr-3">${{ pl.plan.planPrice }}</strong></div>
									</li>
									<li class="list-group-item">
										<div class="input-group"><input type="text" placeholder="SuFood" class="form-control">
											<div class="input-group-append"><button type="button" class="btn btn-secondary">使用招待券</button></div>
										</div>
									</li>
									<li class="list-group-item text-right"><strong>總計：${{ pl.plan.planPrice }}</strong></li>
								</ul>
							</div>
						</div>
					</div>

				</template>
				<template v-else>
					<div class="col-8 orders__container">
						<h1>完成購買</h1>
						<img src="~/img/productmanagement/vegetable.png" />
						<div class="buttons__container">
							<button class="gohome" >回到首頁</button>
							<button class="checkOrders" >查看訂單</button>
						</div>
					</div>
				</template>
			</div>
		</div>
	</section>

@section scripts{
	<script src="~/axios/axios.min.js"></script>
	<script src="~/js/vue.js"></script>
	<script>
		const vm = new Vue({
			el: "#app",
			data: {
				tabs: ['1.確認購物車', '2.填寫訂單資訊', '3.完成購買'],
				currentTab: '1.確認購物車',
				carts: [
				    { 'id': 1, 'productName': '建達繽紛樂', 'quantity': 1, 'price': 1200, 'img': '' },
				    { 'id': 2, 'productName': '金莎巧克力', 'quantity': 1, 'price': 1200, 'img': '' },
				    { 'id': 3, 'productName': '金莎巧克力', 'quantity': 1, 'price': 1200, 'img': '' },
				],
				submit: {
					RecipientName: '',
					Email: '',
					Address: '',
					Phone: '',
				},
				plan:[],
				product:[],
				/*RetailOrFreeChoice:'',*/
				/*isInvalid: true,*/
			},
			methods: {
				//incrementQuantity(c) {
				//	if (c.quantity < 100) {
				//		c.quantity += 1
				//	}
				//},
				//decrementQuantity(c) {
				//	if (c.quantity > 0) {
				//		c.quantity -= 1
				//	}
				//},
				//DeleteProducts(id) {
				//    console.log(this.carts.map(x => x.id).indexOf(id))
				//    this.carts.splice(this.carts.map(x => x.id).indexOf(id), 1)
				//},
				//GetPlanInfo() {
				//	axios("/CheckOut/GetPlanToCart").then(response => {
				//		//console.log("data", response.data);
				//		response.data.forEach(x => console.log('x', x));
				//		var abc = this.plan.push
						
				//	})
				//},
				GetPlanInfo() {
					axios("/CheckOut/GetPlanToCart").then(response => {
						this.plan = response.data;
						console.log(this.plan);
					});
				}
				//GetProductInfo(){
				//	axios("/CheckOut/GetPlanToCart").then(response => {
				//		this.product = response.data
				//	})
				//}
			},
			computed: {
				//totalPrice() {
				//    let subTotal = this.carts.map(product => product.quantity * product.price);
				//    if (this.carts.length > 0) {
				//        return subTotal.reduce((a, b) => a + b);
				//    }
				//},
				//choicePrice() {
				//	let total = this.cartsForFreeChoice.m
				//}
				//		validationForm() {
				//	if (this.submit.RecipientName === '123') {
				//		console.log('123');
				//		return false;
				//	}
				//},
			},
			mounted() {
				this.GetPlanInfo();
			}
		})

	</script>
}