@section styles{
	<link href="~/css/checkout.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
}

<section class="check-out__section" id="app">
	<div class="check-out__container">
		<div class="check-out-status-container">
			
		</div>
		<div class="check-out-content row">
			<div class="col-8 orders__container">
				<h1>完成購買</h1>
				<img src="~/img/productmanagement/vegetable.png" />
				<div class="buttons__container">
					<button class="gohome" @@click="goHomePage">回到首頁</button>
					<button class="checkOrders">查看訂單</button>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts{
	<script src="~/js/vue.js"></script>
	<script>
	new Vue({
		el:'#app',
		methods:{
			goHomePage(){
					return window.location.href="/Home/Index";
			},
			goOrderPage(){
					return window.location.href = "/Members/MyOrders";
			}
		},
	})
	</script>
}


