body {
  font-family: 'PT Sans', sans-serif; }

header {
    background-image: linear-gradient(30deg, rgb(255 255 255), #4f8180);
    height: 20vh;
    min-height: 140px;
    widht: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}
  header nav {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: center;
    border-bottom: 20px solid #fff;
    filter: drop-shadow(0 -4px 4px rgba(64, 46, 89, 0.3)); }
    header nav ul {
      display: flex;
      flex-direction: row;
      list-style-type :none; }
    header nav .tab {
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
      font-size: 26px;
      color: #fff;
      border: none;
      padding: 16px 100px;
      margin: 0 24px 0;
      outline: none;
      cursor: pointer;
      position: relative;
      background: none; }
      header nav .tab:hover .tab-background {
        height: 16px; }
      header nav .tab:hover .tab-rounding {
        transform: scaleY(1); }
        header nav .tab.active {
            color: #4f8180;
        }
        header nav .tab.active .tab-background {
          height: 100%; }
        header nav .tab.active .tab-rounding {
          transform: scaleY(1); }
      header nav .tab-copy {
        position: relative;
        z-index: 1; }
      header nav .tab-background {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 0;
        height: 0;
        border-radius: 8px 8px 0 0;
        transition: height cubic-bezier(0.86, 0, 0.07, 1) 0.24s; }
      header nav .tab-rounding {
        padding: 4px 8px;
        display: block;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform cubic-bezier(0.86, 0, 0.07, 1) 0.24s; }
        header nav .tab-rounding:before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: -8px;
          left: -8px;
          border-radius: 100%; }
        header nav .tab-rounding.left {
          left: -8px; }
          header nav .tab-rounding.left:before {
            box-shadow: 0 0 0 10rem #fff; }
        header nav .tab-rounding.right {
          right: -8px; }
          header nav .tab-rounding.right:before {
            left: 8px;
            box-shadow: 0 0 0 10rem #fff; }

article .container {
    widht: 100%;
    padding: 30px;
    max-width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    height: auto;
    background-color: white
}


article h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 30px;
  color: #8A6CB4; }

article p {
  line-height: 1.6;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px; }

.fade-enter-active > *,
.fade-leave-active > * {
  transition-duration: 200ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8); }

.fade-enter > *,
.fade-leave-to > * {
  opacity: 0;
  transform: translateY(40px); }

.fade-enter-active > *:nth-child(2) {
  transition-delay: 100ms; }

.fade-enter-active > *:nth-child(3) {
  transition-delay: 200ms; }

.fade-leave-active > *:nth-child(1) {
  transition-delay: 200ms; }

.fade-leave-active > *:nth-child(2) {
  transition-delay: 100ms; }

.user__management-content{
    display: block !important;
    padding: 0px !important;
}
.table{
   width:100%
}