@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    position: relative;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.Recent-order {
    font-family: 'Mukta';
}

    .Recent-order table {
        width: 100%;
        border-radius: 1rem;
        padding: 5rem;
        transition: all .3s ease;
        background: #fff;
        box-shadow: 5px 5px 15px #e1e1e1, -5px -5px 15px #ffffff;
        font-weight: bold;
    }

.table__container {
    height: 500px;
    overflow: auto;
}

    .table__container h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

table thead {
    position: sticky;
    top: 0;
}

    table thead tr {
        border-bottom: 1px solid #000;
        height: 4rem;
    }

        table thead tr th {
            background: #f2f2f2;
            text-align: center;
        }

table td {
    padding: 1rem;
    text-align: center;
}

    table td:nth-last-child(2) > span {
        display: inline-block;
    }

table thead tr th {
    min-width: 5rem;
}

table tbody tr {
    height: 2.8rem;
    border-bottom: 1px solid rgb(128, 128, 128);
}

    table tbody tr:last-child {
        border-bottom: none;
    }

    table tbody tr:hover {
        background: #e1e1e1;
        cursor: pointer;
    }

.Recent-order a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: cornflowerblue;
}

/* Table Function */
.tableFunction {
    padding: 1rem;
    border-radius: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: #f2f2f2;
    box-shadow: 5px 5px 15px #e1e1e1, -5px -5px 15px #ffffff;
    font-weight: bold;
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.content {
    width: 100%;
}

.searchBar .inputSearch,
select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.inputWrapper,
.StatusBar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
}

.searchIcon {
    font-size: 20px;
    margin-right: .5rem;
}

.tableIcon,
.bx-trash {
    font-size: 1.5rem;
}

.CreateButton {
    display: inline-block;
    background-color: hsl(120, 100%, 25%);
    color: #fff;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

    .CreateButton:hover {
        background-color: hsl(120, 100%, 30%);
    }

.CommentReview {
    min-height: 500px;
}
/* Sort Icon */
.sortIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/*===== Scrollbar =====*/

/* 調整滾動條的寬度 */
/* 調整滾動條的寬度 */
::-webkit-scrollbar {
    width: 0px;
}

/* 調整滾動條的背景顏色 */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/*===== Arrow =====*/
.arrow-down {
    width: 100%;
}

    .arrow-down i {
        background-color: #e1e1e1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        border-radius: 0 0 1rem 1rem;
    }

.content {
    width: 100%;
}

.searchBar .inputSearch,
select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.inputWrapper,
.StatusBar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.StatusBar select{
    cursor: pointer;
}

.searchIcon {
    font-size: 20px;
    margin-right: .5rem;
}

.tableIcon,
.bx-trash {
    font-size: 1.5rem;
}

.CreateButton {
    display: inline-block;
    background-color: hsl(120, 100%, 25%);
    color: #fff;
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    transition: .3s;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

    .CreateButton:hover {
        background-color: hsl(120, 100%, 30%);
    }

/* Product Image */
.productImg {
    max-width: 5rem;
    max-height: 5rem;
}

.reply-icon {
    font-size: 2rem;
}

.cardContent {
    position: absolute;
    height: 600px;
    width: 600px;
    background: #fff;
    border-radius: 6px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000;
    position: fixed;
}

.cardPopup-body {
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.showPopup {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100vw;
    height: 100vh;
    background-color: hsla(240, 18%, 75%, .97);
}

.textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 380px;
    resize: none;
}

.topic h3{
    display:flex;
    justify-content:center;
    align-content:center;
}

.btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}