/*=========== Sub Header ===========*/
#main,
.sub__hader{
  width: 80vw;
  margin: 0 auto;
}

.sub__hader {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: #eee;
  color: #000;
  height: 24vh;
  width: 100%;
  padding: 1rem 0;
}

.steps__container {
  position: relative;
}

.steps-line {
  width: 68%;
  height: 5px;
  background: #fff;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.steps {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  position: relative;
  z-index: 3;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  height: 100%;
}

.step-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 3px solid #000;
  padding: 2rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: .6rem;
}

/*========== free choice content ==========*/
.planChoice {
  padding-top: 0;
}

.planChoice__container {
  width: 100%;
  height: 60vh;
}

.title__container {
  height: 10vh;
  background: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  background: #fcfcfc;
  box-shadow: 12px 12px 24px #ededed;
  position: relative;
}

.title__container>span{
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 1.5rem;
}

.content__container {
  height: 100%;
}

.content__container .row {
  height: 100%;
}

.content__container .card {
  backdrop-filter: blur(6px);
  background: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 26px;
  width: 20%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all .2s ease-in-out;
}

.card__title{
  font-size: 30px;
  font-weight: bolder;
}
.card__preice{
  font-weight: bold;
}

.card__button{
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.title__container {
  margin-top: 6vh;
}

.content__container .card:hover {
  transform: translateY(-8px);
}



.stepColor {
  background: #F9BC61;
}

/* 搭配產品 */
.product__container{
  overflow-y: scroll;
  z-index: 0;
  position: relative;
  height: 54vh;
}

.product-wrapper,
.product-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .3s;
}

.product-img img{
  transition: all .3s;
  opacity: .5;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-action {
  bottom: 0px;
  left: 20%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.6s ease 0s;
  cursor: pointer;
}

.product-wrapper {
  border-radius: 10px;
  cursor: pointer;
  opacity: 1;
}

.product-img>span {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  color: #333;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 1px;
  padding: 3px 12px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 20px;
}

.product-action-style {
  background-color: #fff;
  box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 2px 12px;
  width: 80%;
}

.product-action-style>a {
  color: #979797;
  line-height: 1;
  padding: 0 21px;
  position: relative;
}

.product-action-style>a.action-plus {
  font-size: 18px;
}

.product-wrapper:hover{
  transform: translateY(-10px)
}

.product-wrapper:hover .product-action {
  bottom: 20px;
  opacity: 1;
}

.selectedItem{
  opacity: 1;
}

/* 調整滾動條的寬度 */
::-webkit-scrollbar {
  width: 0px;
}

/* 訂購按鈕 */
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

/*========== Confirm Section ==========*/
.confirm .content__container{
  display: grid;
  place-items: center;
}

.confirm__container{
  margin-top: 3rem;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #000;
  height: 450px;
  overflow: hidden;
  width: 40%;
}

.confirmItems{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.confirmItems__container {
    overflow-y: auto;
    height: 70%;
    z-index: 0;
    padding-left: 0;
}


.confirm__container-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmItems{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmItems .confirmItems-Name{
  font-size: 1.2rem;
}
.confirmItems .confirmItems-Quant{
  font-size: 1.6rem;
}
.confirmItems .confirmItems-Quant span{
  font-size: 1rem;
}

.confirm .planChoice__container{
  height: 100vh;
}

.confirm-line{
  width: 90%;
  border: .3px solid #000;
}

/*===== IMG =====*/

.matchHintIcon{
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.confirmItems-Img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.planChoice__container .container .row h2 {
    text-align: center;
}

.confirm__hint {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.matchHintImg {
    display: flex;
    align-items: center;
    justify-content: center;
}