/*--------title--------*/
.orders-container h4 {
    font-weight: bold;
    margin-bottom: 60px;
    color: #555555;
}

/*--------search bar--------*/
.searchBar .inputSearch,
select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.inputWrapper,
.StatusBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: 1rem;
}

.searchIcon {
    font-size: 20px;
    margin-right: .5rem;
}

.tableIcon,
.bx-trash {
    font-size: 1.5rem;
}

.order__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}


/*--------general order---------*/
.table {
    border-bottom: 1px solid rgb(128, 128, 128);
    text-align: center;
    font-weight: bold;
}

.tr {
    background-color: #4f8180;
    color: white;
}

.table thead th {
    padding: 1rem 0;
}

.table tbody tr {
    background: #fff;
    cursor: pointer;
}

.order__container h5 {
    font-size: 1.3rem;
}


.orderdetail-btn {
    font-size: 3px;
    font-weight: bold;
    background-color: #97a7a7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.general-order a {
    color: black;
}

    .general-order a:hover {
        color: #0a9090;
    }

.general-order i {
    font-size: 1.2rem;
}

.delete-item {
    border: none;
    background-color: transparent;
}

    .delete-item:hover {
        color: #cc2a2a;
    }

/*--------paging---------*/
.pagination {
    display: flex;
    justify-content: end;
}

.page-link {
    color: #759188;
    background-color: rgb(255, 255, 255);
}

    .page-link:hover {
        color: #546861;
        font-weight: bold;
    }

/*----- �j�M�P�U�Ԧ����˦� -----*/
.inputWrapper {
    background: #fff;
    width: 100%;
}

.orders-container h2 {
    font-weight: bold;
}

.sortIcon {
    font-size: 1.5rem;
}

.orders-container table {
    border-radius: 0;
}

.page-item span,
.page-item a {
    color: green;
    font-size: 1.2rem;
}

.StatusBar {
    background: #fff;
    cursor: pointer;
}

.date-picker {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 61px;
}

    .date-picker input {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        height: 100%;
    }

    .date-picker button {
        background: green;
        color: #fff;
        display: block;
        height: 100%;
        border-radius: 15px;
        text-align: center;
        padding: 10px 20px;
    }

/*----- Modal -----*/
.model {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.delete-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .8rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
}

.delete-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .8rem;
}

.modal__button,
.modal__close {
    background-color: #4f8180;
}

/* ----------�q�檬�A���s�˦���---------- */
.pending {
    font-size: 3px;
    font-weight: bold;
    background-color: RGB(13,110,253) !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.cancel {
    font-size: 3px;
    font-weight: bold;
    background-color: RGB(220,53,69) !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

.completed {
    font-size: 3px;
    font-weight: bold;
    background-color: RGB(255,193,7) !important;
    color: #000;
    padding: 5px 10px;
    border-radius: 20px;
}
