@{
    ViewData["Title"] = "Home Page";
}

@section styles{
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet">
}
<style>
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .custom-row {
        --bs-gutter-x: 12rem;
    }
</style>


<!-- ======= Hero Section ======= -->
<div id="homePage">
    <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container">
            <div class="row justify-content-between gy-5">
                <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                    <h2 data-aos="fade-up">蔬食人生<br>&nbsp&nbsp舒服一生</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        品味生活，尋找味蕾的極致享受！在每一口美味中，牽絆著所有喜悅與幸福，歡迎加入SuFood，引領您走進口感的奇蹟世界！
                    </p>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="#book-a-table" class="btn-book-a-table">開始啟程您的SuFood人生</a>
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                           class="glightbox btn-watch-video d-flex align-items-center">
                            <i class="bi bi-play-circle"></i><span>
                                觀看
                                Demo
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start img-fluid" data-aos="zoom-out" data-aos-delay="300">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div v-for="(item, index) in CarouselArr" :key="item.announcementId" class="carousel-item" :class="{ 'active': index === 0 }">
                                <img :src="'data:image/jpeg;base64,'+item.announcementImage" width="600px" height="380px">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300"> -->
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <div id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>注意看，這波活動太狠了</h2>
                    <p>優惠公告<span>最新消息</span></p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-7 position-relative about-img" data-aos="fade-up" data-aos-delay="150">
                       
                        <img v-if="AnnouncementArr[0] && AnnouncementArr[0].announcementImage" :src="'data:image/jpeg;base64,'+AnnouncementArr[0].announcementImage" width="750px">
                        <div class="call-us @*position-absolute*@">
                            <h4>優惠倒數</h4>
                            <p>08:16:58:49</p>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                        <div class="content ps-0 ps-lg-5">
                            <p class="fst-italic">
                                親愛的顧客們，

                                感謝您一直以來對SuFood的支持與愛護！我們非常高興地宣布一個令人興奮的優惠活動，讓您在夏天的炎熱日子中盡情享受新鮮水果的美味和營養。

                                從即日起到本月底，我們將舉辦「水果盛宴」優惠活動，為您提供以下優惠：
                            </p>
                            <ul>
                                <li><i class="bi bi-check2-all"></i>超值組合套餐:  </li>
                                <li>
                                    <i class="bi bi-check2-all"></i>購買任意三種商品，即可享受折扣優惠！無論您喜歡的是甜美的草莓、清爽的西瓜還是多汁的蜜桃，您都可以根據自己的喜好選擇組合套餐，並享受三種水果的超值價格!
                                </li>
                                <li><i class="bi bi-check2-all"></i>會員專屬優惠:</li>
                                <li>
                                    <i class="bi bi-check2-all"></i>只需出示會員卡，即可享受所有水果類別的額外折扣。如果您還不是我們的會員，現在就加入我們的會員團隊，以享受這項特別優惠!!!
                                </li>
                                <li><i class="bi bi-check2-all"></i>每週限時特價: </li>
                                <li>
                                    <i class="bi bi-check2-all"></i>每週我們將選擇一種特定的水果，並以特價方式供應。新驚喜正等待著您。請密切關注我們的店鋪和網站，以了解每週的限時特價產品!
                                </li>
                            </ul>
                            <p>
                                請注意，以上優惠僅限本店實體店鋪有效，並且數量有限，售完即止。此外，我們也提供線上訂購和外送服務，方便您在家中也能品味到我們的水果。

                                謝謝您一直以來的支持和惠顧！我們期待著您的光臨，與您一同分享新鮮水果的美好！

                            <div class="position-relative mt-4">
                                <img v-if="AnnouncementArr[1] && AnnouncementArr[1].announcementImage" :src="'data:image/jpeg;base64,'+AnnouncementArr[1].announcementImage" width="500px">
                                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
       
      
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>好評不斷</h2>
                    <p>會員回饋 <span>真實評價</span></p>
                </div>

                <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="row gy-4 justify-content-center">
                                    <div class="col-lg-6" v-for="(item, index) in StarComment" :key="item.ReviewId">
                                        <div class="testimonial-content">
                                            <p>
                                                <i class="bi bi-quote quote-icon-left"></i>
                                                <span v-text="item.comment"></span>
                                                <i class="bi bi-quote quote-icon-right"></i>
                                            </p>
                                            <div class="stars">
                                                'StarComment.rating_star'<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <img src="assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                                    </div>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->


                     </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Stats Counter Section ======= -->
        <section id="stats-counter" class="stats-counter">

            <div class="container" data-aos="zoom-out">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p></p>
                        </div>
                    </div><!-- End Stats Item -->

               
                </div>

            </div>
        </section><!-- End Stats Counter Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery section-bg">
            <div class="container " >

                <div class="section-header">
                    <h2>選擇障礙?</h2>
                    <p>看看這些 <span>熱銷商品</span></p>
                </div>

                <div class="row custom-row">
					<div class="col-1" v-for="(item, index) in HotSaleArr" :key="item.announcementId">
                        <a class="glightbox" data-gallery="images-gallery" href="https://sufoodlife.azurewebsites.net/Retail/Retail">
                                    <img :src="'data:image/jpeg;base64,'+item.announcementImage" width="160px" height="230px">
                                </a>
                     </div>
			    </div>

                </div>
        </section><!-- End Gallery Section -->@*<template>
            <div class="swiper-container">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide" v-for="(item, index) in HotSaleArr" :key="item.announcementId">
                        <a class="glightbox" data-gallery="images-gallery" href="https://localhost:54331/Retail/Retail">
                            <img :src="'data:image/jpeg;base64,'+item.announcementImage" width="160px" height="230px">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </template>*@
	</div>
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>了解更多資訊</h2>
                    <p>還有&nbsp疑問？ <span>聯繫我們</span></p>
                </div>

                <div class="mb-3">
                    <iframe style="border:0; width: 100%; height: 350px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8328380340427!2d121.51054522247613!3d25.03974636778248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a90a8d497325%3A0x2876dc1b4d647f9!2z5Lit6I-v5rCR5ZyL57i957Wx5bqc!5e0!3m2!1szh-TW!2stw!4v1683546052722!5m2!1szh-TW!2stw"
                            frameborder="0" allowfullscreen></iframe>
                </div><!-- End Google Maps -->



            </div>
    </section><!-- End Contact Section -->

    </div><!-- End #main -->
@section Scripts{

    <script>
     
    </script>
       
}
