@section Styles
{
	<link href="~/css/accountmanage.css" rel="stylesheet" />
}

<div class="col user__management-content" id="main">
    <!-- 內容 -->
    <div class="account-container">
        <h4>會員列表</h4>

        <div class="wrap">
            @*篩選欄位*@
            @*v-model="filter"*@
            <div class="search">
                <input class="search-bar form-control col-md-2" type="search" name="search" id="search" placeholder="請輸入會員ID或姓名">
                <button class="search-btn col-md" type="button"><i class='bx bx-search-alt-2'></i></button>
            </div>
        </div>

        <!-- 2.會員管理區塊-->
        <div class="form-group accountmanage">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>帳號</td>
                        <td>姓名</td>
                        <td>手機號碼</td>
                        <td>角色</td>
                        <td>狀態</td>
                        <td>訂單</td>
                        <td>編輯</td>
                        <td>刪除</td>
                        <td>創建時間</td>
                        <td>最新登入時間</td>
                    </tr>
                </thead>

                <tbody>
                    <!-- 2-1.會員1號-->
                    <tr v-for="a in vmAccount">
                        <th class="th" scope="row">{{a.accountId}}</th>
                        <td>{{a.account1}}</td>
                        <td>{{a.firstName}}{{a.lastName}}</td>
                        <td>{{a.phone}}</td>
                        <td>{{a.role}}</td>
                        <td>{{a.isActive}}</td>
                        <td>
                           @* <button class="reci-btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                檢視
                            </button>

                            <!--Modal start-->
                            <div class="modal-dialog modal-dialog-centered" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">收件資訊</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div>郵遞區號：<label for="">100</label></div>
                                            <div>郵寄地址：<label for="">台北市中正區濟南路一段xx號</label></div>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-primary">儲存</button> -->
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Modal end-->*@
                        </td>
                            


                        
                        <td><a href=""><i class='bx bx-file-find'></i></a></td>
                        <td><a href=""><i class='bx bxs-edit'></i></a></td>
                        <td><button class="delete-item" type="button"><i class='bx bx-trash' data-bs-target="#deleteModal" ></i></button>
						<!--Modal start-->
                        <div class="modal-dialog modal-dialog-centered" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">收件資訊</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<div>郵遞區號：<label for="">100</label></div>
										<div>郵寄地址：<label for="">台北市中正區濟南路一段xx號</label></div>
									</div>
									<div class="modal-footer">
										<!-- <button type="button" class="btn btn-primary">儲存</button> -->
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
									</div>
								</div>
							</div>
						</div>
                        </td>
                        <td>{{a.createDatetime}}</td>
                        <td>{{a.lasttImeLogin}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   

</div>


@section Scripts
{
	<script src="~/js/vue.js"></script>
	<script src="~/axios/axios.min.js"></script>
    <script>
        const main = new Vue({
            el: "#main",
            data: {
                vmAccount: [],            
            },
            mounted() {   
                this.getAccounts();
            },
            methods: {
                getAccounts: function () {
                    let _this = this;
                    axios.get("/BackStage/AccountManagement/GetAllAccounts").then(res => {
                        //alert(JSON.stringify(res.data))
                        _this.vmAccount = res.data;
                    })
                },
                //edit: function () {
                //    let _this = this;
                //    _this.oldfirstName = vmAccount.firstName;
                //    _this.oldlastName = vmAccount.lastName;
                //    _this.oldphone = vmAccount.phone;
                //},
                //cancel: function () {
                //    let _this = this;
                //    this.vmAccount.firstName = _this.oldfirstName;
                //    this.vmAccount.lastName = _this.oldlastName;
                //    this.vmAccount.phone = _this.oldphone;

                //},
                //update: function () {
                //    let _this = this;
                //    var request = {
                //        AccountId: this.vmAccount.accountId,
                //        FirstName: this.vmAccount.firstName,
                //        LastName: this.vmAccount.lastName,
                //        Phone: this.vmAccount.phone,
                //    };
                //    axios.post(`BackStage/AccountManagement/EditAccounts`, request)
                //        .then(res => {
                //            alert(res.data); //update成功
                //            _this.getAccounts();
                //        })
                //    }
                },
                //deleteAccount: function(id){
                //    let _this = this;





                    //if(confirm("確定要刪除此帳戶嗎？")){
                    //axios.delete(`BackStage/AccountManagement/DeleteAccounts/${id}`).then(res =>{
                    //    // 刪除成功後的處理 
                    //    console.log("帳戶刪除成功");
                    //    _this.getAccounts();
                    //    // 更新 Vue 組件中的狀態或重新載入資料

                    //    }).catch(error => {
                    //    // 刪除失敗後的處理
                    //    console.error("帳戶刪除失敗", error);
                    //    // 處理錯誤，例如顯示錯誤訊息給使用者

                    //    })
                    //}else{
                    
                    //    console.log("取消刪除帳戶");
                    //}

                //}
            })
    </script>
}
