@section Styles{
    <link href="~/css/analysis.css" rel="stylesheet" />
}

<div class="Analysis__container container">
    <div class="row top-layer">
        <div class="col-3 card w30"></div>
        <div class="col-3 card w30"></div>
        <div class="col-3 card w30"></div>
    </div>

    <div class="row top-layer">
        <div class="col-8 card"></div>
@*        <div class="col-3 card w30"></div>*@
        <div class="col-3 card"></div>
    </div>
</div>