@section Styles{
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/model.css" rel="stylesheet" />
	<link href="~/css/couponmanagement.css" rel="stylesheet" />
}

<div class="CommentReview col-10 col-sm-12 col-md-10 col-xl-10">
	<div>
		<!-- head -->
		<div class="ordersreview">
			<h4>{{topic}}</h4>
		</div>
		<!--搜尋框-->
		<div class="wrap">
			<div class="searchBar">
				@*想用V-model連結*@
				@*<input class="search-bar form-control" id="searchbar" placeholder="輸入查詢" value="" v-model="keyword">*@
			</div>
		</div>
	</div>



	<!-- body-->
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr class="table tr">
					<th scope="col">評論ID</th>
					<th scope="col">星數</th>
					<th scope="col">評論</th>
					<th scope="col">訂單編號</th>
					<th scope="col">編輯</th>
					<th scope="col">刪除</th>
				</tr>
			</thead>
			<tbody>
				<!--評論資料 -->
				<tr v-for="c in or" :key="c.reviewId">
					<td>
						<span>{{ c.reviewId}}</span>
					</td>
					<td>
						<span>{{ c.ratingStar}}</span>
					</td>
					<td>
						<span>{{ c.comment }}</span>
					</td>
					<td>
						<span>{{ c.ordersId }}</span>
					</td>
					<td>
						<button class="btn btn-success" data-bs-target="#editModal" @@click="editComment(c)">修改</button>
					</td>
					<td>
						<button class="btn btn-warning" @@click="deleteComment(c)">刪除</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		@*---------------edit---------------*@
		<template v-if="CreateOrEditOrDelete === 'Edit'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body" style="width: 600px; height:500px">
					<div class="cardPopup">
						<form style="height: 1000px; display: flex; gap: .5rem; flex-direction: column;" id="form">
							<div class="topic">
								<h3>修改評論</h3>
							</div>
							
							<div class="form-group">
								<label class="form-label">評論ID:<span>{{editCommentList.reviewId}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">星星評價</label>
								<input class="form-control" v-model="editCommentList.ratingStar" />
							</div>
							<div class="form-group">
								<label class="form-label">評論</label>
								<input class="form-control" type="text" v-model="editCommentList.comment" />
							</div>
							<div>
								<button type="button" class="btn btn-danger" @@click="CloseComment"> 關閉 </button>
								<button type="button" class="btn btn-primary saveBtn" @@click="EditComment(editCommentList)"> 保存 </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
		@*----------------delete------------*@
		<template v-if="CreateOrEditOrDelete === 'Delete'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body" style="width: 600px; height:500px">
					<div class="cardPopup">
						<form style="height: 1000px; display: flex; gap: .5rem; flex-direction: column;" id="form">
							<div class="topic">
								<h3>你真的要刪除此評論嗎?</h3>
							</div>
							<div class="form-group">
								<label class="form-label">評論ID:<span>{{editCommentList.reviewId}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">星星評價:<span>{{editCommentList.ratingStar}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">評論:<span>{{editCommentList.comment}}</span></label>
							</div>
							<div>
								<button type="button" class="btn btn-primary" @@click="CloseComment">取消 </button>
								<button type="button" class="btn btn-danger ssaveBtn" @@click="DeleteComment(editCommentList.ordersId)"> 刪除</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
		@*-----------------create測試--------------*@
		<template v-if="CreateOrEditOrDelete === 'Create'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body" style="width: 600px; height:500px">
					<div class="cardPopup">
						<form style="height: 1000px; display: flex; gap: .5rem; flex-direction: column;" id="form">
							<div class="topic">
								<h3>留下你的意見吧</h3>
								<label>你的回覆是我們的最大動力</label>
							</div>

							<div class="form-group">
								<label class="form-label">評論ID:<span>{{createCommentList.reviewId}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">星星評價</label>
								<input class="form-control" placeholder="5" v-model="createCommentList.ratingStar" />
							</div>
							<div class="form-group">
								<label class="form-label">評論</label>
								<input class="form-control" type="text" v-model="createCommentList.comment" />
							</div>
							<div class="form-group">
								<label class="form-label">客戶ID</label>
								<input class="form-control" type="text" v-model="createCommentList.ordersId" />
							</div>
							<div>
								<button type="button" class="btn btn-danger" @@click="CloseComment"> 關閉 </button>
								<button type="button" class="btn btn-success ssaveBtn" @@click="CreateComment(createCommentList)"> 新增 </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
	</div>
	<!--========== Messge toast ==========-->
	<div class="message-toast-wrapper" :class="toastHintStyle">
		<i class='bx bxs-check-circle message-toast-icon'></i>
		<p class="message-toast-title">{{toast}}</p>
	</div>
</div>


@section Scripts{
	<script src="~/js/vue.js"></script>
	<script src="~/js/commentmanagement.js"></script>
}