@section Styles{
	<link href="~/css/main.css" rel="stylesheet" />
	<link href="~/css/model.css" rel="stylesheet" />
	<link href="~/css/commentmanagement.css" rel="stylesheet" />
	<style>
		.ordersreview h4{
			font-weight: bold;
		}

		.bgc {
			background-color: #4f8180 !important;
			color: white !important;
		}
	</style>
}

<div class="CommentReview col-10 col-sm-12 col-md-10 col-xl-10">
	<div>
		<!-- head -->
		<div class="ordersreview">
			<h4>{{topic}}</h4>
		</div>
		<div class="row mb-3">
			<div class="col-4">
				<div class="content">
					<div class="searchBar">
						<div class="inputWrapper">
							<i class='bx bx-search-alt-2 searchIcon'></i>
							<input type="text" class="inputSearch" placeholder="輸入訂單編號" v-model="keyword">
						</div>
					</div>
				</div>
			</div>
			<div class="col-4"></div>
			<div class="col-4">
				<div class="content">
					<div class="StatusBar" >
						<select v-model="selectedStars">
							<option value="all">全部</option>
							<option value="good">好評</option>
							<option value="bad">差評</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- body-->
	<div>
		<table class="table table-striped table-hover">
			<thead>
				<tr class="table tr bgc">
					<th scope="col">評論ID</th>
					<th scope="col">帳號</th>
					<th scope="col">星數</th>
					<th scope="col">評論</th>
					<th scope="col">訂單編號</th>
					<th scope="col">客戶電話</th>
					<th scope="col">回覆</th>
					<th scope="col">刪除</th>
				</tr>
			</thead>
			<tbody>
				<!--評論資料 -->
				<template v-if="or">
					<tr v-for="c in filterproducts" :key="c.reviewId">
						<td>
							<span>{{ c.reviewId}}</span>
						</td>
						<td>
							<span>{{c.accountId}}</span>
						</td>
						<td>
							<span>{{ c.ratingStar}}</span>
						</td>
						<td>
							<span>{{ c.comment}}</span>
						</td>
						<td>
							<span>{{ c.ordersId }}</span>
						</td>
						<td>
							<span>{{c.phone}}</span>
						</td>
						<td>
							<i class='bx bx-message-rounded reply-icon' @@click="createComment(c)"></i>
						</td>
						<td>
							<button class="btn btn-warning" @@click="deleteComment(c)">刪除</button>
						</td>
					</tr>
				</template>
			</tbody>
		</table>
		
		@*---------------edit---------------*@
		<template v-if="CreateOrEditOrDelete === 'Edit'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body">
					<div class="cardPopup">
						<form id="form">
							<div class="topic">
								<h3>修改評論</h3>
							</div>
							
							<div class="form-group">
								<label class="form-label">評論ID:<span>{{editCommentList.reviewId}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">星星評價</label>
								<input class="form-control" v-model="editCommentList.ratingStar" />
							</div>
							<div class="form-group">
								<label class="form-label">評論</label>
								<input class="form-control" type="text" v-model="editCommentList.comment" />
							</div>
							<div>
								<button type="button" class="btn btn-danger" @@click="CloseComment"> 關閉 </button>
								<button type="button" class="btn btn-primary saveBtn" @@click="EditComment(editCommentList)"> 保存 </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
		@*----------------delete------------*@
		<template v-if="CreateOrEditOrDelete === 'Delete'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body">
					<div class="cardPopup">
						<form id="form">
							<div class="topic">
								<h3>你真的要刪除此評論嗎?</h3>
							</div>
							<div class="form-group">
								<label class="form-label">評論ID:<span>{{editCommentList.reviewId}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">星星評價:<span>{{editCommentList.ratingStar}}</span></label>
							</div>
							<div class="form-group">
								<label class="form-label">評論:<span>{{editCommentList.comment}}</span></label>
							</div>
							<div>
								<button type="button" class="btn btn-primary" @@click="CloseComment">取消 </button>
								<button type="button" class="btn btn-danger ssaveBtn" @@click="DeleteComment(editCommentList.ordersId)"> 刪除</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
		@*-----------------create--------------*@
		<template v-if="CreateOrEditOrDelete === 'Create'">
			<div class="cardContent" id="" :class="popupShowing" v-for="c in or ">
				<div class="cardPopup-body">
					<div class="cardPopup">
						<form id="form">
							<div class="topic">
								<h3>回覆客戶的評論囉</h3>
							</div>
							<div class="form-group">
								<textarea v-model="createCommentList.recomment" class="textarea"></textarea>
							</div>
							<div>
								<button type="button" class="btn btn-danger" @@click="CloseComment"> 關閉 </button>
								<button type="button" class="btn btn-success ssaveBtn" @@click="CreateComment(createCommentList)"> 新增 </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</template>
	</div>
	<!--========== Messge toast ==========-->
	<div class="message-toast-wrapper" :class="toastHintStyle">
		<i class='bx bxs-check-circle message-toast-icon'></i>
		<p class="message-toast-title">{{toast}}</p>
	</div>
</div>


@section Scripts{
	<script src="~/js/vue.js"></script>
	<script src="~/js/commentmanagement.js"></script>
}