@*<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SuFood</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="./img/favicon.png" rel="icon">
    <link href="./img/apple-touch-icon.png" rel="apple-touch-icon">

    <!--==================== Boxicons ====================-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <div class="col-11 d-flex">
                <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                    <h1>SuFoodlIFE<span>.</span></h1>
                </a>
            </div>
            <div class="col-1">
                <div class="header__icon__container">
                    <div class="userBox iconBox">
                        <i class='bx bx-user icon'></i>
                        <div class="users__info">
                            <!-- 如果是登入狀態顯示這個 -->
                            <a href="#"><span>登出</span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- <section id="hero" class="hero d-flex align-items-center section-bg">
          <div class="container">
          </div>
        </section> -->
        <section class="dashboard__management section align-items-center section-bg" id="user__management">
            <div class="dashboard__management-container container row">
                <div class="col-2 dashboard__management-sidebar">
                    <div class="header__toggle" id="header-toggle">
                        <i class='bx bx-chevron-left'></i>
                    </div>

                    <div class="row dashboard__management-sidebar-items">
                        <a href="#"><i class='bx bx-user-circle'></i><span>會員管理</span></a>
                        <a href="#"><i class='bx bx-receipt'></i><span>訂單管理</span></a>
                        <a href="#"><i class='bx bx-package'></i><span>商品管理</span></a>
                        <a href="#"><i class='bx bx-purchase-tag-alt'></i><span>優惠券管理</span></a>
                        <a href="#"><i class='bx bx-cart'></i><span>選購管理</span></a>
                        <a href="#"><i class='bx bx-store-alt'></i><span>首頁管理</span></a>
                        <a href="#"><i class='bx bx-bar-chart-alt-2'></i><span>銷售分析</span></a>
                        <a href="#"><i class='bx bx-message-dots'></i><span>評論分析</span></a>
                    </div>
                </div>
                <div class="col-10 user__management-content">
                    <!-- 內容 -->
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    <!-- Template Main JS File -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>*@

<h1>測試內容</h1>