@section Styles{
    <link href="~/css/model.css" rel="stylesheet" />
    <link href="~/css/ordersmanage2.css" rel="stylesheet" />
}


<div class="account-container col-10">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h2>會員列表</h2>
    </div>

    @*----------會員搜尋列----------*@
    @*<div class="wrap">
        <div class="search">
            <input class="search-bar form-control col-md-2" type="search" name="search" id="search" placeholder="請輸入會員ID或姓名" v-model="filter" v-on:keyup.enter="filterAccount">
            <button class="search-btn col-md" type="button"><i class='bx bx-search-alt-2'></i></button>
        </div>
    </div>*@
    <div class="content">
        <div class="searchBar">
            <div class="inputWrapper">
                <i class='bx bx-search-alt-2 searchIcon'></i>
                <input type="text" class="inputSearch" placeholder="Search..." v-model="keyword">
            </div>
        </div>
    </div>

    @*----------資料表格----------*@
    <div class="table__container">
        <table>
            <thead>
                <tr>
                    <th>會員ID</th>
                    <th>會員帳號</th>
                    <th>姓名</th>
                    <th>生日</th>
                    <th>手機號碼</th>
                    <th>收件資訊</th>
                    <th>訂單</th>
                    <th>編輯</th>
                    <th>刪除</th>
                    <th>會員創建時間</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>毛毛蟲</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
                <tr>
                    <td>10113</td>
                    <td>xxxx@gmail.com</td>
                    <td>洪崇信</td>
                    <td>2000-07-02</td>
                    <td>0912345678</td>
                    <td><button class="reci-btn">檢視</button></td>
                    <td><i class='bx bx-file-find sortIcon'></i></td>
                    <td><i class='bx bx bxs-edit sortIcon'></i></td>
                    <td><i class='bx bx-trash sortIcon'></i></td>
                    <td>2023-05-27</td>
                </tr>
            </tbody>
        </table>
        @*<template v-if="filterproducts.length == 0">
            <h1><i class='bx bx-smile'></i>商品不存在喔!!</h1>
        </template>*@
    </div>

    <!-- 3.分頁 -->
    <div class="paging">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="modal__container" :class="modalContainerStyle" id="modal-container">
        <div class="modal__content d-flex flex-column justify-content-around" :class="modalContentStyle">
            <div v-if="EditOrDeleteorCreate == 'Edit' || EditOrDeleteorCreate == 'Create'" class="modal__close close-modal" @@click="closeModal" title="Close">
                <i class='bx bx-x'></i>
            </div>

            <h1 class="modal__title">商品管理</h1>

            <div class="model__product row g-5">

                <template v-else>
                    <div class="d-flex align-content-center justify-content-between">
                        <button class="modal__button modal__butoon-width" @@click="DeleteProduct(deleteId)" type="submit">
                            刪除
                        </button>

                        <button class="modal__button-link close-modal" @@click="closeModal">
                            取消
                        </button>
                    </div>
                </template>
            </div>
        </div>
    </div>

    <!--========== Messge toast ==========-->
    <div class="message-toast-wrapper" :class="toastHintStlye">
        <i v-if="toast=='新增成功' || toast=='修改成功'" class='bx bxs-check-circle message-toast-icon'></i>
        <i v-else class='bx bxs-x-circle message-toast-icon-error' style='color:#f00e0e'></i>
        <p class="message-toast-title">{{toast}}</p>
    </div>
</div>

@section Scripts{
    <script src="~/js/vue.js"></script>
    <script>

    </script>
}
