<main id="main">
    <!-- 商品明細起點 -->
    <div class="modal fade bg-white"
         id="templatemo_search"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action=""
                  method="get"
                  class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text"
                           class="form-control"
                           id="inputModalSearch"
                           name="q"
                           placeholder="Search ..." />
                    <button type="submit"
                            class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid"
                             :src="'data:image/png;base64,'+p.img"
                             alt="bear"
                             id="product-detail" />
                    </div>
                </div>
                <!-- 商品頁面 -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body" v-for="p in product"
                            <h1 class="h2 fw-bold">{{p.productName}}</h1>
                            <p class="h3 py-2">{{p.price}}</p>


                            <h6>商品描述:</h6>
                            <p>
                                {{p.price}}
                            </p>

                            <form action="" method="GET">
                                <input type="hidden"
                                       name="product-title"
                                       value="Activewear" />
                                <div class="row">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-right">
                                                數量
                                                <input type="hidden"
                                                       name="product-quanity"
                                                       id="product-quanity"
                                                       value="1" />
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-danger" id="btn-minus" @@click="minusItem()">-</button>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge bg-secondary" id="var-value">{{buyQuantity}}</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-danger" id="btn-plus" @@click="addItem()">+</button>
                                            </li>
                                            <li class="list-inline-item">
                                                <p>剩餘產品數量：{{p.stockQuantity}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit"
                                                class="btn btn-danger btn-lg"
                                                name="submit"
                                                value="buy">
                                            Buy
                                        </button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit"
                                                class="btn btn-danger btn-lg"
                                                name="submit"
                                                value="addtocard">
                                            Add To Cart
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 商品頁面結尾 -->
            </div>
        </div>
    </section>


    

</main>
@section Scripts{
    <script src="~/axios/axios.min.js"></script>
    <script src="~/商品明細用到的/js/jquery-1.11.0.min.js"></script>
    <script src="~/商品明細用到的/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/商品明細用到的/js/bootstrap.bundle.min.js"></script>
    <script src="~/商品明細用到的/js/templatemo.js"></script>
    <script src="~/商品明細用到的/js/custom.js"></script>
    <script src="~/商品明細用到的/js/slick.min.js"></script>
    
    <script src="https://cdn.rawgit.com/matfish2/vue-pagination-2/controlled-component/dist/vue-pagination-2.min.js"></script>
    <script src="~/js/singleproducts.js"></script>
}